1 VERSIONINFO LOADONCALL MOVEABLE DISCARDABLE IMPURE
FILEVERSION 3, 2, 4, 0
PRODUCTVERSION 3, 2, 4, 0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040704E4"
  {
   VALUE "CompanyName", "Daniel Berg\000"
   VALUE "ProductName", "SoundMexPro\000"
   VALUE "ProductVersion", "3.2.4.0\000"
   VALUE "FileVersion", "3.2.4.0\000"
   VALUE "LegalCopyright", "Copyright 2023 Daniel Berg\000"
   VALUE "FileDescription", "Main DLL for SoundMexPro\000"
   VALUE "InternalName", "SoundDllPro\000"
   VALUE "OriginalFilename", "SoundDllPro.dll\000"
   VALUE "LegalTrademarks", "\000"
   VALUE "Comments", "\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 1031, 1252
 }

}

